parameters:
    paths:
        - src
        - tests

    level: 8

    ignoreErrors:
        - '#Class TomasVotruba\\SherlockTypes\\PHPStan\\Collectors\\(.*?) implements generic interface PHPStan\\Collectors\\Collector but does not specify its types\: TNodeType, TValue#'

        # phsptan BC
        - '#Calling PHPStan\\(.*?) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"
