parameters:
    paths:
        - bin
        - src
        - tests
        - rector.php
        - ecs.php

    level: 8
    errorFormat: symplify

    reportUnmatchedIgnoredErrors: false

    # make sure iterable docblock are checked with real assertions
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # irelevant
        - '#Calling PHPStan\\(.*?) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'
        - identifier: phpstanApi.constructor

        - identifier: phpstanApi.instanceofType

        # false positive
        - '#with generic interface PHPStan\\Collectors\\Collector#'

        -
            identifier: class.notFound
            path: tests/Rector/Rector/ClassMethod/AddClassMethodParamTypeRector/AddClassMethodParamTypeRectorTest.php

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"
