parameters:
    # avoid any other rules
    customRulesetUsed: true

services:
    -
        class: Rector\ArgTyper\PHPStan\Collectors\CallLikeArgTypeCollector
        tags:
            - phpstan.collector

    -
        class: Rector\ArgTyper\PHPStan\Collectors\FuncCallTypeCollector
        tags:
            - phpstan.collector

rules:
    - Rector\ArgTyper\PHPStan\Rule\DumpCallLikeArgTypesRule
    - Rector\ArgTyper\PHPStan\Rule\DumpFuncCallArgTypesRule
