parameters:
    # avoid any other rules
    customRulesetUsed: true

services:
    -
        class: Rector\ArgTyper\PHPStan\Collectors\FuncCallTypeCollector
        tags:
            - phpstan.collector

rules:
    - Rector\ArgTyper\PHPStan\Rule\DumpFuncCallArgTypesRule

    # reworked simper versions
    - Rector\ArgTyper\PHPStan\Rule\CollectCallLikeArgTypesRule
