parameters:
    # avoid need of level
    customRulesetUsed: true

services:
    -
        class: TomasVotruba\SherlockTypes\PHPStan\Collectors\PHPUnitAssertMethodCallCollector
        tags:
            - phpstan.collector

rules:
    - TomasVotruba\SherlockTypes\PHPStan\Rule\DumpPHPUnitAssertTypesRule