parameters:
    # avoid any other rules
    customRulesetUsed: true

    excludePaths:
        - "*/Fixture/*"
        - "*/Fixtures/*"
        - "*/fixtures/*"
        - "*/fixture/*"

rules:
    - Rector\ArgTyper\PHPStan\Rule\CollectFuncCallArgTypesRule
    - Rector\ArgTyper\PHPStan\Rule\CollectCallLikeArgTypesRule
