name: Bare Run on various PHP versions

on:
    push:
        branches:
            - main

jobs:
    bare_run:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php_version: ['8.2']

        steps:
            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php_version }}
                    coverage: none

            -   run: composer require rector/argtyper --ansi
            -   run: composer create-project laravel/framework --ansi

            # on whole project, to be able to load vendor/autoload.php
            -   run: vendor/bin/argtyper add-types framework
